@model webformLR6.Models.TodoItem
@{

}

@{
    if (!string.IsNullOrWhiteSpace(ViewBag.Danger))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Danger
        </div>
    }
    if (!string.IsNullOrWhiteSpace(ViewBag.Success))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
}
<form method="post" asp-action="Edit" asp-controller="Home">
    <div class="form-group">
        <label>Id</label>
        <input asp-for="Id" disabled class="form-control" value="@Model.Id">
        <small class="form-text text-muted">Неизменяемо</small>
    </div>
    <div class="form-group">
        <label>Имя</label>
        <input asp-for="Name" class="form-control" placeholder="Имя" value="@Model.Name">
    </div>
    <div class="form-check">
        <label>Выполнено?</label>
        @{
            bool lol = Model.IsComplete;
            string val = string.Empty;
            if (lol)
                val = "checked";
            else
                val = "";
        }
        <input id="checkbox1" onchange="change()" asp-for="IsComplete" class="form-check-input" type="checkbox" value="@Model.IsComplete">
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-primary" asp-controller="Home" asp-action="Api">Назад</button>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
    <script type="text/javascript">
        function change() {
            var checkbox = document.getElementById("checkbox1");
            if (checkbox.checked)
                checkbox.value = true;
            else
                checkbox.value = false;
        }

    </script>
</form>
